<filepath="grass.png" id="grass" colfmt="14" />
<filepath="dirt_grass.png" id="dirt_grass" colfmt="14" />
<filepath="dirt.png" id="dirt" colfmt="14" />
<filepath="sand.png" id="sand" colfmt="14" />
<filepath="stone.png" id="stone" colfmt="14" />
<filepath="stone_coal0.png" id="stone_coal0" colfmt="14" />
<filepath="stone_coal1.png" id="stone_coal1" colfmt="14" />
<filepath="stone_gold0.png" id="stone_gold0" colfmt="14" />
<filepath="stone_gold1.png" id="stone_gold1" colfmt="14" />
<filepath="stone_diamond0.png" id="stone_diamond0" colfmt="14" />
<filepath="stone_diamond1.png" id="stone_diamond1" colfmt="14" />
<filepath="water.png" id="water" colfmt="14" />
<filepath="trunk_oak_top.png" id="trunk_oak_top" colfmt="14" />
<filepath="trunk_oak_side.png" id="trunk_oak_side" colfmt="14" />
<filepath="trunk_beech_top.png" id="trunk_beech_top" colfmt="14" />
<filepath="trunk_beech_side.png" id="trunk_beech_side" colfmt="14" />
<filepath="wood_oak.png" id="wood_oak" colfmt="14" />
<filepath="wood_beech.png" id="wood_beech" colfmt="14" />
<filepath="leaves_green.png" id="leaves_green" colfmt="14" />
<filepath="leaves_orange.png" id="leaves_orange" colfmt="14" />
<filepath="cactus_top.png" id="cactus_top" colfmt="14" />
<filepath="cactus_side.png" id="cactus_side" colfmt="14" />
