<filepath="cursors_player1.png" id="cursors_player1" colfmt="6" />
<filepath="cursors_player2.png" id="cursors_player2" colfmt="6" />
<filepath="cursors_player3.png" id="cursors_player3" colfmt="6" />
<filepath="cursors_player4.png" id="cursors_player4" colfmt="6" />
